@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  background: linear-gradient(315deg, #0f0c29 0%, #302b63 50%, #24243e 100%);
  color: #cfd2da;
  text-align: center;
  overflow-x: hidden;
  box-sizing: border-box;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  padding-top: 120px;
}

h1 {
  font-family: 'Major Mono Display', monospace;
  font-size: 4rem;
  color: #ff7597;
  text-shadow: 0 0 8px #ff7597; /* Slightly reduced for less blur */
  margin-bottom: 20px;
}

input[type="search"] {
  font-size: 1.5em;
  padding: 0.8em 1.2em;
  border: 2px solid rgba(255, 0, 255, 0.5);
  background-color: rgba(50, 50, 50, 0.8);
  backdrop-filter: blur(8px);
  border-radius: 25px;
  color: #fff;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: all 0.3s ease-in-out;
  margin-bottom: 20px;
}

.scroll-component {
  width: 100%;
  max-height: calc(100vh - 240px);
  overflow-y: auto;
  border: 5px solid black;
}

.bg-light-green {
  background: rgba(18, 18, 18, 0.75);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  border: 1px solid rgba(255, 0, 255, 0.75);
  padding: 2rem;
  margin: 1rem;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0 4px 15px rgba(255, 0, 255, 0.2);
}

.bg-light-green:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(255, 0, 255, 0.5);
}

.shadow-5 {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.grow {
  transition: all 0.2s ease-in-out;
}

.card, h1, input[type="search"] {
  animation: fadeInUp 0.8s ease-out;
}

@keyframes fadeInUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
